
 .tab-header-background{
  -fx-background-color: #9F7C3F ;

 }
.tab{
 -fx-background-color: #9F7C3F;
 -fx-background-size: 500px,30px;
 -fx-border-color: white;
 -fx-cell-size: 40,30,40,30;
 -fx-padding: 10px;
}
#titlePane{
 -fx-background-image: url('Title_Bar.png');
 -fx-background-repeat: stretch;
 -fx-background-size: 1540 70;
 -fx-background-position: center;
 -fx-background-color: #00000000;
}
#loginBtn,#signUpBtn{
 -fx-background-color:  #00000000;
 -fx-border-color:  #9F7C3F;
}
#signUp_form,#login_form{
 -fx-background-color:  #EDE9E5;
 -fx-border-color:  #9F7C3F;
 -fx-border-width: 6px;
}
.text-field{
 -fx-background-color: #00000000;
 -fx-border-color: #9F7C3F;
}